node_modules/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Andrew in Alaska.jpg
ER Schema.png
Recipe App.png
Hosting.txt
classroom 1.jpeg
classroom 3.jpeg
classroom 5.jpeg
classroom 7.jpeg
classroom 9.jpeg
Final profie.jpeg
Goole Zeel.jpg
haemotracer1.png
Orangeblossomimage.png
portfolio.png
profilepic 2.jpeg
resume 1.jpg
resume 3.png
resume 10.png
resume 13.png
resume 14.png
resume 16.png
resume 17.png
resume 19.png
resume 20.png
resume 22.png
sd 1.jpg


TA 3.png
TA 4.jpeg
TA 5.jpeg
ta 11.png
TA 15.jpg
TA.PNG

zeelprofile.jpg
