canvas {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  background: #8200c9; /* Old browsers */
  background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 ); /* IE6-9 */
  overflow: hidden;
}

img {
  width: 302px;
  object-fit: contain;
  align-self: center;
  display: block;
  border-radius: 20px;
  border-radius: 15px 50px;
  border-radius: 90%; 
  
   /* border: 5px solid rgb(137, 71, 191);  */
  /* border: 5px solid #131414; */
  border: 5px solid rgb(71, 137, 191); 



  
}

/*@media screen and (max-width: 880x){
  img{
    background-color: darkmagenta;
  }
}

/* .resonsive {
  width: 100%;
  height:  auto; 


} */

header {
  font-size: 130%;
}

.curtain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(232, 213, 244, 0.763);
  opacity: 0;
  pointer-events: none;

  animation: fadeIn 0s;
}

.fadeIn {
  animation: fadeIn 0s;
}

@keyframes fadeIn {
  0%   { opacity: 1; }
  100%     { opacity: 0; }
}

.flex_container {
  height: 100vh;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 10px;

  border: 1px solid rgba(247, 247, 247, .25);
  border-radius: 20px;
  background-color: rgba(247, 247, 247, 0.45);
  box-shadow: 0 0 10px 1px rgba(18, 18, 18, 0.25);

  backdrop-filter: blur(10px);
}

.single_content {
  max-width: 604px;
  min-width: 302px;
}

.two_column {
  display:block;
}

.two_column > * {
  max-width: 302px;
  padding: 0.5rem;
}

@media (min-width:768px) {
  .two_column {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }
  img{
    background-color: rgb(244, 244, 244);
  }
}

.centered {
  text-align: center;
}

/* KEEP AT END */
/* important for loading content before showing it */
html {
  visibility: visible;
  opacity: 1;
}